.ooo{
    background-color: cornflowerblue;
    text-align: center;
    border: 5px solid red;
    border-radius: 20px;
}
.ppp{
    background-color: yellow;
    text-align: center;
}
.uuu{
    background-color: yellow;
    text-align: center;
}
.iii{
    color: black;
    background-color: red;
}
.poo{
    background-color: green;
}
.yyy{
    background-color: purple;
}
.ikk{
    background-color: green;
    width: 300px;
}
.laa{
    width: 600px;
}
.eee{
    width: 600px;
}
.hhh{
    width: 600px;
}
.qqq{
    width: 500px;
}